body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    background-color: #e0cedd8c;
}

.header_pitchManage {
    padding: 20px 0;
    background-color: #343a40;
    color: white;
    text-align: center;
    border-bottom: 4px solid #4CAF50;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

h2 {
    font-size: 25px;
    font-weight: bold;
    padding: 15px 0px;
}



.input-group-text {
    min-width: 120px;
    justify-content: center;
}

.table-responsive {
    max-height: 400px;
    overflow-y: visible;
}

.table th,
.table td {
    text-align: center;
    vertical-align: middle;
}


.table tr:hover {
    cursor: pointer;
}

.btn {

    background-color: #343a40;
    color: white;
}

.btn:hover {
    width: 100%;
    background-color: #4CAF50;
    color: white;
}